<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <title>CURRICULUM VITAE </title>

</head>

<body>

<h1 align="center">CURRICULUM VITAE</h1>
<hr style="height:5px;background-color:black">
<img src="{{url_for('static', filename='AG.jpg')}}" Align="right" width="150" height="150">
<h2>AINDRILA GHOSH</h2>

    <h3>Mobile: +91-8617756394 / +91-7044006580, Email Id: aindrila29@gmail.com</h3><br>
    <h3>CAREER OBJECTIVE:</h3>
    <hr style="height:5px;background-color:black">
To be the part of a reputed organization which provides steady career growth along with job satisfaction and give a valuable contribution to the success of the organization.<br>
<br><h3>EDUCATIONAL QUALIFICATION:</h3>
<hr style="height:5px;background-color:black">
<ul>
    <li><b>Pursuing Bachelor of Computer Application from Institute of Engineering & Management,Kolkata and will be passing out in the year 2021.</b></li>
    <li><b>Passed out 12th exam with 73.83% marks from St. Xavier’s Institution,Panihati in the year 2018.</b></li>
    <li><b>Passed out 10th exam with 78% marks from St. Xavier’s Institution,Panihati in the year 2016.</b></li>

</ul>
<br><h3>PROJECTS UNDERTAKEN:</h3>
<hr style="height:5px;background-color:black">
<ul>
    <li><b>WEB FRAMEWORK BASED FEES PAYMENT MANAGEMENT SYSTEM HOSTED IN APACHE TOMCAT 9.</b></li>
    <li><b>DAPP USING BLOCKCHAIN TECHNOLOGY WHICH IS AN ADOPTION TRACKING SYSTEM FOR A PET SHOP USING SOLIDITY LANGUAGE WITH A BASIC KNOWLEDGE OF ETHEREUM & SMART CONTRACTS.</b></li>

</ul>
<br><h3>TECHNICAL SKILL SETS: </h3>
<hr style="height:5px;background-color:black">
<ul>
    <li><b>Programming Languages:</b> C, C++, JAVA (Standard Edition), PYTHON.</li>
    <li><b>Database Management System:</b> SQL using ORACLE 11G Express Edition.</li>
    <li><b>Concepts:</b>Data Structure, Machine Learning using Python, Blockchain Technology.</li>
</ul>
<br><h3>ACHIEVEMENTS: </h3>
<hr style="height:5px;background-color:black">
<ul>
    <li>Successfully completed ‘Problem Solving Through Programming In C’ and ‘Programming in Java’ courses under NPTEL.</li>
    <li>Successfully completed Python for Machine Learning and Data Visualization using Python from Greatlearning. </li>
    <li>Successfully completed SQL for Data Science and Blockchain Basics from Coursera.</li>
    <li>Had been an active member in our college’s non-profit organization called ‘SMILE’ since 2018.</li>
</ul>
<br><h3>AREA OF INTEREST:</h3>
<hr style="height:5px;background-color:black">
Sports, Volunteer work, Listening to music, Learning about new and upcoming technologies and their implementations.
<br><h3>LANGUAGES KNOWN:</h3>
<hr style="height:5px;background-color:black">
Proficient in English, Hindi and Bengali.
<br><h3>PERSONAL DETAILS:</h3>
<hr style="height:5px;background-color:black">
<ul>
    <li>Nationality: Indian</li>
    <li>Date of Birth: 29th November, 1999 </li>
    <li>Permanent Address: 64, Trannath Banerjee Road, Suckchar Ghosh Para, Kolkata-700115, West Bengal</li>
</ul>

</body>

</html>